* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #ffafbd, #ffc3a0); /* Fondo degradado */
    font-family: 'Arial', sans-serif;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura completa de la ventana */
}

.contenedor {
    text-align: center;
    position: relative; /* Necesario para el posicionamiento absoluto de los botones */
}

.titulo h1 {
    margin-bottom: 20px;
    font-size: 1.5rem; /* Tamaño de fuente adaptable */
}

.opciones {
    position: relative;
}

.opciones p {
    background: #333;
    display: inline-block;
    padding: 15px 25px;
    color: #fff;
    border-radius: 8px;
    font-weight: bold;
    transition: background 0.3s, transform 0.3s;
    cursor: pointer;
    position: absolute;
}

.p1 {
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.p1:hover {
    background: #555;
    transform: translate(-50%, -50%) scale(1.1);
}

.p2 {
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.p2:hover {
    background: #555;
    transform: translate(-50%, -50%) scale(1.1);
}

.final-message {
    background: #ff0000; /* Color rojo */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 550px;
    color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}
