* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #ffafbd, #ffc3a0); /* Fondo degradado */
    font-family: 'Arial', sans-serif;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura completa de la ventana */
}

.contenedor {
    text-align: center;
    position: relative; /* Necesario para el posicionamiento absoluto de los botones */
    padding: 20px; /* Agregado para evitar que el contenido esté pegado a los bordes */
}

.titulo h1 {
    margin-bottom: 20px;
    font-size: 1.5rem; /* Tamaño de fuente adaptable */
}

.opciones {
    position: relative;
    margin-top: 20px; /* Separación entre el título y los botones */
}

.opciones p {
    background: #333;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    border-radius: 8px;
    font-weight: bold;
    transition: background 0.3s, transform 0.3s;
    cursor: pointer;
    position: absolute;
}

.p1 {
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.p1:hover {
    background: #555;
    transform: translate(-50%, -50%) scale(1.1);
}

.p2 {
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.p2:hover {
    background: #555;
    transform: translate(-50%, -50%) scale(1.1);
}

/* Ajustes para dispositivos móviles */
@media (max-width: 600px) {
    .p1, .p2 {
        padding: 8px 16px; /* Reducir el tamaño del botón en dispositivos móviles */
        font-size: 0.8rem; /* Tamaño de fuente más pequeño */
    }

    .p1 {
        left: 50%; /* Centrar el botón "No" */
        transform: translate(-50%, -50%);
        margin-bottom: 10px; /* Separar el botón "No" del botón "Sí" */
    }

    .p2 {
        left: 50%; /* Centrar el botón "Sí" */
        transform: translate(-50%, -50%);
    }

    .final-message {
        width: 90%; /* Ajustar el tamaño del mensaje final para pantallas pequeñas */
        max-width: none; /* Eliminar el ancho máximo para pantallas pequeñas */
        padding: 20px; /* Reducir el padding en dispositivos móviles */
    }

    .titulo h1 {
        font-size: 1.2rem; /* Reducir el tamaño del texto en dispositivos móviles */
    }
}

