/* Reset y caja de modelo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos globales */
body {
    background: linear-gradient(to right, #ffafbd, #ffc3a0); /* Fondo degradado */
    font-family: 'Arial', sans-serif;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura completa de la ventana */
}

/* Contenedor principal */
.contenedor {
    text-align: center;
    position: relative; /* Necesario para el posicionamiento absoluto de los botones */
    padding: 20px;
}

/* Título */
.titulo h1 {
    margin-bottom: 20px;
    font-size: 1.5rem; /* Tamaño de fuente adaptable */
}

/* Opciones */
.opciones {
    position: relative;
}

/* Botones */
.opciones p {
    background: #333;
    display: inline-block;
    padding: 15px 25px;
    color: #fff;
    border-radius: 8px;
    font-weight: bold;
    transition: background 0.3s, transform 0.3s;
    cursor: pointer;
    position: absolute;
}

/* Posicionamiento de botones */
.p1 {
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.p2 {
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}

/* Hover en botones */
.p1:hover, .p2:hover {
    background: #555;
    transform: translate(-50%, -50%) scale(1.1);
}

/* Estilos para el mensaje final */
.final-message {
    background: #ff0000; /* Color rojo */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 550px;
    color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Media Queries */
@media (max-width: 768px) {
    .titulo h1 {
        font-size: 1.2rem;
    }

    .opciones p {
        padding: 12px 20px;
        font-size: 1rem;
    }

    .p1 {
        left: 20%;
        transform: translate(-50%, -50%);
    }

    .p2 {
        left: 80%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 480px) {
    .titulo h1 {
        font-size: 1rem;
    }

    .opciones p {
        padding: 10px 15px;
        font-size: 0.9rem;
        width: 80%; /* Asegura que los botones no sean demasiado grandes en pantallas pequeñas */
        position: static; /* Cambiar a posición estática para evitar problemas en pantallas pequeñas */
        margin: 10px auto; /* Centrar los botones */
    }

    .p1, .p2 {
        top: auto; /* Eliminar el posicionamiento vertical absoluto */
        left: auto; /* Eliminar el posicionamiento horizontal absoluto */
        transform: none; /* Eliminar el transform */
        display: block; /* Asegurarse de que cada botón ocupe toda la línea */
    }
}
